/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {

  --first-color: #595859;
  --first-color-alt: #A69A85;
  --title-color: #D9CDBF;
  --white-color: #F2ECE9;
  --text-color:  #262626;
  --body-color: #A69A85;
  --container-color: #F2ECE9;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", system-ui;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --tiny-font-size: .688rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 3rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --tiny-font-size: .75rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--first-color);
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

/*=============== LOGIN  ===============*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.login__title {
  font-size: var(--big-font-size);
  color: var(--white-color);
  text-align: center;
  margin-bottom: 2rem;
}

.login__box{
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--container-color);
  border-radius: 1rem;
}

.login__input {
  background: none;
  width: 100%;
  padding: 1.5rem 2.5rem 1.5rem 1.25rem;
  font-weight: var(--font-semi-bold);
  border: 3px solid transparent;
  border-radius: 1rem;
  z-index: 1;
  transition: border-color .4s;
}

.login__input:autofill {
  transition: background-color 6000s, color 6000s;
}

.login__label {
  position: absolute;
  left: 1.25rem;
  font-weight: var(--font-semi-bold);
  transition: transform .4s, font-size .4s, color .4s; 
}

.login__icon {
  position: absolute;
  right: 1rem;
  font-size: 1.25rem;
  transition: color .4s;
}

.login__password {
  cursor: pointer;
  z-index: 10;
}

.login__forgot {
  display: block;
  width: max-content;
  margin: 1rem 0 0 auto; 
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--text-color);
  transition: color .4s;
}

.login__forgot:hover {
  color: var(--first-color);
}

.login__button {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  background-color: var(--container-color);
  color: var(--first-color-alt);
  font-weight: var(--font-semi-bold);
  padding-block: 1.5rem;
  border-radius: 4rem;
  margin-block: 2rem;
  cursor: pointer;
  transition: background-color .4s, box-shadow .4s;
}

.login__button:hover {
  background-color: var(--first-color-alt);
  box-shadow: 0 8px 24px  var(--first-color);
  color: var(--container-color);
}

.login__social {
  margin-bottom: 2rem;
}

.login__social-title {
  text-align: center;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--text-color);
  margin-bottom: 1rem;
}

.login__social-img {
  width: 1rem;
}

.login__social-links {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
}

.login__social-link {
  width: 32px;
  height: 32px;
  background-color: var(--title-color);
  box-shadow: 0 4px 8px var(--first-color);
  border-radius: .5rem;
  display: grid;
  place-items: center;
  transition: transform .4s;
}

.login__social-link:hover {
  transform: translateY(-.25rem);
}

.login__switch {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--white-color);
}

.login__switch button {
  background: none;
  color: var(--container-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  transition: color .4s;
}

.login__switch button:hover {
  color: var(--container-color);
}

.login__access,
.login__register {
  position: absolute;
  left: 30%;
  right: 0;
  width: 100%;
  transition: transform 0.5s, opacity 0.5s ease;
}

.login__register {
  transform: translateX(15rem);
  opacity: 0; 
  pointer-events: none;
}

/* Input focus move up label */
.login__input:focus ~ .login__label {
  transform: translateY(-12px);
  font-size: var(--tiny-font-size);
}

.login__input:focus {
  padding-block: 2rem 1rem;
}

/* Input focus sticky top label */
.login__input:not(:placeholder-shown).login__input:not(:focus) ~ .login__label {
  transform: translateY(-12px);
  font-size: var(--tiny-font-size);
}

.login__input:not(:placeholder-shown).login__input:not(:focus) {
  padding-block: 2rem 1rem;
}

/* Input focus color */
.login__input:focus {
  border-color: var(--first-color);
}

.login__input:focus ~ .login__label, 
.login__input:focus ~ .login__icon {
  color: var(--first-color);
}

/* Show hide login & create account */
.active .login__access {
  transform: translateX(15rem);
  opacity: 0;
  pointer-events: none;
}

.active .login__register {
  transform: translateX(0);
  opacity: 1;
  pointer-events: initial;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 540px) {
  .login_-area {
    width: 380px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 350px) and (max-height: 600px) {
  .login {
    height: 760px;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .login__area {
    width: 460px;
    margin: initial
  }
  .login__access,
  .login__register {
    width: 680px;
  }
  .login__title {
    text-align: initial;
    margin-bottom: 3rem;
  }
  .login__button {
    margin-bottom: 3rem;
  }
  .login__group {
    grid-template-columns: repeat(2, 1fr);
  }
} 

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
  radial-gradient(circle at 10% 20%, var(--white-color) 0%, transparent 20%),
  radial-gradient(circle at 90% 80%, var(--white-color) 0%, transparent 20%),
  var(--text-color);
}